@CHARSET "ISO-8859-1";
body{
	background-color: white;
	text-size-adjust: auto;
}
div{
	text-align: center;
	color:black;
}
h1{
	text-align:center;
	font-family:Arial;
	font-weight:normal;
}
.maincontain{
	position:absolute;
	height:75%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
img{
	height:100%;	
}

.links{
	width:50%;	
	margin:auto;
	font-family:Arial;
	font-size:15pt;
}

a{
	
}
	
