@CHARSET "ISO-8859-1";
body{
	background-color: white;
	text-size-adjust: auto;
}
div{
	text-align: center;
	color:black;
}
h1{
	text-align:center;
	font-family:Arial;
	font-weight:normal;
}
.maincontain{

}
img{
}

.links{
	width:50%;	
	margin:auto;
	font-family:Arial;
	font-size:15pt;
}

a{
	
}
	
